@page
@model GMTasker.RazorPages.Pages.Index
@{
    Layout = "./Shared/_LayoutDeslogado.cshtml";
}
<br/>
<form method="post">
<div asp-validation-summary="ModelOnly" class="text-dange"></div>
<div class="row d-flex justify-content-center align-items-center h-100">
   <div class="col-12 col-md-8 col-lg-6 col-xl-5">
      <div class="card bg-dark text-white" style="border-radius: 1rem;">
         <div class="card-body p-5 text-center">

            <h2 class="fw-bold mb-2 text-uppercase">GM Tasker Login</h2>
            <p class="text-white-50 mb-5">Por favor entre com seu login e password!</p>
           
            <div class="form-outline form-white mb-4">
               <label asp-for="UsuarioModel.email" class="form-label" >Email</label>
               <input asp-for="UsuarioModel.email" type="email" id="UsuarioModel.email" class="form-control form-control-lg" placeholder="example@email.com"/>
               <span asp-validation-for="UsuarioModel.email" class="text-dange"></span>
            </div>

            <div class="form-outline form-white mb-4">
               <label asp-for="UsuarioModel.senha" class="form-label">Senha</label>
               <input asp-for="UsuarioModel.senha" type="password" id="UsuarioModel.senha" class="form-control form-control-lg" placeholder="********"/>
               <span asp-validation-for="UsuarioModel.senha" class="text-dange"></span>
            </div>
            @if(TempData["SenhaErrada"] != null)
            {
               <div class="alert alert-danger">@TempData["SenhaErrada"]</div>
               TempData["SenhaErrada"] = null;
            }
            <input class="btn btn-outline-light btn-lg px-5" type="submit" value="Login"/>
         </div>
      </div>
   </div>
</div>
</form>