Sistema/GMTasker.API/obj/Debug/net7.0/GMTasker.API.assets.cache
Sistema/GMTasker.RazorPages/obj/Debug/net7.0/GMTasker.RazorPages.assets.cache
Sistema/GMTasker.RazorPages/obj/Debug/net7.0/GMTasker.RazorPages.GeneratedMSBuildEditorConfig.editorconfig
Sistema/GMTasker.RazorPages/obj/Debug/net7.0/project.razor.json
