@page "{id:int}"
@model GMTasker.RazorPages.Pages.Usuario.Edit

    <h1>Alterar Dados do Usuário</h1>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <div class="info">
        <div align="center">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-dange"></div>
            <input type="hidden" asp-for="UsuarioModel.id_usuario"/>
            <div class="form-group">
                <label asp-for="UsuarioModel.nome">Nome</label>
                <input asp-for="UsuarioModel.nome" class="form-control"/>
                <span asp-validation-for="UsuarioModel.nome" class="text-dange"></span>
            </div>
            <br/>
            <div class="form-group">
                <label>CPF</label>
                <input asp-for="UsuarioModel.cpf" maxlength="14" class="form-control" onkeyup="handleCPF(event)"/>
                <span asp-validation-for="UsuarioModel.cpf" class="text-dange"></span>
            </div>
            <br/>
            <div class="form-group">
                <label asp-for="UsuarioModel.telefone">Telefone</label>
                <input asp-for="UsuarioModel.telefone" class="form-control" maxlength="15" onkeyup="handlePhone(event)"/>
                <span asp-validation-for="UsuarioModel.telefone" class="text-dange"></span>
            </div>
            <br/>
            <div class="form-group">
                <label asp-for="UsuarioModel.email">Email</label>
                <input asp-for="UsuarioModel.email" class="form-control"></textarea>
                <span asp-validation-for="UsuarioModel.email" class="text-dange"></span>
            </div>
            <br/>
            <div class="form-group">
                <label asp-for="UsuarioModel.senha_antiga">Senha Antiga</label>
                <input asp-for="UsuarioModel.senha_antiga" class="form-control"  type="password"></textarea>
                <span asp-validation-for="UsuarioModel.senha_antiga" class="text-dange"></span>
            </div>
            <br/>
            <div class="form-group">
                <label asp-for="UsuarioModel.senha">Senha Nova</label>
                <input asp-for="UsuarioModel.senha" class="form-control"  type="password"></textarea>
                <span asp-validation-for="UsuarioModel.senha" class="text-dange"></span>
            </div>
            <br/>
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Salvar"/>
                <a asp-page="/Usuario/Index" class="btn btn-secondary"> Cancelar</a>
            </div>
        </form>
    </div>
</div>

<style>

    main{
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .info{
        width: 25vw;
        text-align: center;
        background-color: rgb(201, 201, 201);
        padding: 15px;
        border-radius: 25px;
    }
</style>

@section Scripts
{
<script>
    const handlePhone = (event) => {
        let input = event.target
        input.value = phoneMask(input.value)
    }

    const phoneMask = (value) => {
        if (!value) return ""
        value = value.replace(/\D/g, '')
        value = value.replace(/(\d{2})(\d)/, "($1) $2")
        value = value.replace(/(\d)(\d{4})$/, "$1-$2")
        return value
    }

    const handleCPF = (event) => {
        let input = event.target
        input.value = cpfMask(input.value)
    }

    const cpfMask = (value) => {
        if (!value) return ""
        value = value.replace(/\D/g, '')
        value = value.replace(/(\d{3})(\d{3})(\d{3})(\d{2})/, "$1.$2.$3-$4")
        return value
    }
</script>
}

