@page
@model GMTasker.RazorPages.Pages.Usuario.Login

<br/>
<div class="row d-flex justify-content-center align-items-center h-100">
   <div class="col-12 col-md-8 col-lg-6 col-xl-5">
      <div class="card bg-dark text-white" style="border-radius: 1rem;">
         <div class="card-body p-5 text-center">

            <h2 class="fw-bold mb-2 text-uppercase">GM Tasker Login</h2>
            <p class="text-white-50 mb-5">Por favor entre com seu login e password!</p>

            <div class="form-outline form-white mb-4">
               <label class="form-label" for="typeEmailX">Email</label>
               <input type="email" id="typeEmailX" class="form-control form-control-lg" placeholder="example@email.com"/>
            </div>

            <div class="form-outline form-white mb-4">
               <label class="form-label" for="typeEmailX">Email</label>
               <input type="password" id="typePasswordX" class="form-control form-control-lg" placeholder="********"/>
            </div>

            <button class="btn btn-outline-light btn-lg px-5" type="submit">Login</button>
         </div>
      </div>
   </div>
</div>


<style>
</style>